* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  color: #28262d;
}
.container {
  max-height: 100vh;
  max-width: 95%;
}
.header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 1.25em;
}

.logo-img {
  max-width: 400px;
}
span {
  margin: 0 0.652em;
  font-weight: bolder;
  color: #16121293;
}
.nav-container {
  margin-top: 40px;
}
.main-container {
  max-width: 95%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.info-section {
  width: 565px;
  margin: 10px auto;
  font-weight: 1000px;
  padding: 50px 0;
  font-size: 30px;
  text-align: center;
}

.img-section {
  width: 100%;
}
.main-btn {
  background-color: #01b678;
  padding: 20px;
  font-weight: bolder;
  color: white;
  font-size: 22px;
  border: none;
  margin: 10px 0;
  width: 266px;
}
.main-btn:hover {
  background-color: red;
}
.modal {
  position: fixed;
  right: 0px;
  left: 0px;
  top: 0px;
  bottom: 0px;
  margin: auto;
  height: 600px;
  width: 900px;
  border-radius: 5px;
  box-shadow: 0px 0px 6px 2px #666;
  background-color: #212529;
  color: whitesmoke;
  display: none;
}

.modal-inner {
  width: 290px;
  margin: 0 auto;
}

.modal-inner-loading {
  text-align: center;
}

.modal-inner-loading {
  text-align: center;
}

/* modal buttons */

.close-modal-btn-container {
  text-align: right;
  margin: 9px;
}

.modal-close-btn {
  font-size: 22px;
  font-weight: bold;
  background-color: transparent;
  border: 1px solid transparent;
  color: whitesmoke;
}

.modal-close-btn:hover,
.modal-close-btn:active {
  color: red;
  cursor: pointer;
}

.modal-close-btn:disabled {
  color: whitesmoke;
  opacity: 0.2;
  cursor: not-allowed;
}

.modal-choice-btns {
  margin-top: 10px;
  padding: 8px 16px;
  display: flex;
  justify-content: center;
}
.modal-choice-btns-reverse {
  flex-direction: row-reverse;
}

.modal-btn {
  padding: 10px 24px;
  cursor: pointer;
}

/* modal input */

input {
  margin-top: 10px;
  border: 1px solid #212529;
  padding: 10px;
  width: 100%;
  border-radius: 3px;
}

/* modal after submit */

.loading {
  width: 200px;
  margin-top: 10px;
  height: 90px;
}

.modal-display-name {
  color: fuchsia;
}

.modal-text {
  height: 200px;
  line-height: 30px;
  margin-bottom: 10px;
}
.tongueout-gif {
  width: 900px;
  margin: auto;
  height: 700px;
}

.tongueout-gif img {
  box-shadow: 1px 1px 3px #999;
  border-radius: 5px;
}

/* media queries */

@media (min-width: 600px) {
  .header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}
